{% extends "base.html.twig" %}

{% block title %} {{ parent() }} | Liste des burgers{% endblock %}

{% block body %}

    <h1>Liste des Burgers</h1>
    <a href="{{ path("home") }}">Retour à la page d'accueil</a>

{% endblock %}