{% extends "base.html.twig" %}

{% block title %} {{ parent() }} | Page d'accueil {% endblock %}

{% block body %} 
    <h1>Page d'accueil</h1>
    <img src="{{ asset("assets/krabs.png")}}" alt="Mr Krabs"> 
{% endblock %}